<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.AdminDao">
    <resultMap id="adminResultMap" type="admin">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="realname" column="realname"/>
        <result property="gender" column="gender"/>
        <result property="department" column="department"/>
        <result property="position" column="position"/>
        <result property="tel" column="tel"/>
        <result property="phoneNum" column="phoneNum"/>
        <result property="roleId" column="role_id"/>
        <result property="addTime" column="add_time"/>


    </resultMap>
    <select id="findByUsername" parameterType="String" resultMap="adminResultMap">
        SELECT * FROM admin WHERE username = #{username}
    </select>
    <select id="findByUsernameAndPassword" resultMap="adminResultMap">
        SELECT * FROM admin WHERE username = #{username} AND password = #{password}
    </select>
    <select id="findById" parameterType="int" resultMap="adminResultMap">
        SELECT * FROM admin WHERE id = #{id}
    </select>
    <insert id="saveAdmin" parameterType="admin">
        INSERT INTO admin (username,password,realname,gendar,department,position,tel,phoneNum,role_id,add_time) VALUES (#{username},#{password},#{realname},#{gendar},#{department},#{position},#{tel},#{phoneNum},#{roleId},#{addTime})
    </insert>
    <update id="setPassword" parameterType="admin">
        UPDATE admin SET password = #{password} WHERE id = #{id}
    </update>
</mapper>