<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.com.ssm.dao.UserDao">
  <resultMap id="userResultMap" type="admin">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="lastLoginTime" column="last_login_time"/>
    <result property="addTime" column="add_time"/>
  </resultMap>
  <select id="selectBynameAndpassword" resultMap="userResultMap">
    SELECT * FROM admin WHERE username = #{username} AND password = #{password}
  </select>
  <update id="updateUserWithTime" parameterType="admin">
    UPDATE admin SET last_login_time = #{lastLoginTime} WHERE id = #{id}
  </update>
</mapper>